
/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}


img {
     max-width: 100%;
     height: auto;
}


button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}



/**-- heading section --**/

/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- navigation--*/

.navigation.navbar {
     float: right;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 25px;
     color: #fff;
     font-size: 16px;
     line-height: 20px;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #fdd430;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #fdd430;
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.header {
     background: #0c0f38;
     width: 100%;
     padding: 40px 40px 40px 40px;
}

.logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 40px;
}

.text-bg h1 {
     color: #fff;
     font-size: 60px;
     line-height: 80px;
     padding-bottom: 25px;
     font-weight: bold;
}

.text-bg span {
     color: #fdd430;
     font-size: 40px;
     line-height: 35px;
     font-weight: bold;
}
.text-bg a:hover {
     background-color: #000;
     color: #fff;
}

.text-img figure {
     margin: 0px;
}

.text-img figure img {
     width: 100%;
}

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 45px;
     color: #0c0f38;
     line-height: 40px;
     font-weight: bold;
     padding: 0;
}


/** News and Updates section **/

.why {
     margin-top: 0px;
     margin-bottom: 3px;
     background: #ffff;
     font-family: Poppins;
}

.why .titlepage {
     text-align: center;
     text-decoration: inherit;
}

.why .titlepage h2 {
     padding-bottom: 20px;
     text-decoration: blink;
}

.why .titlepage p {
     color: #090808;
}

.why .why-box h3 {
     padding: 20px 0px 20px 0px;
     font-size: 20px;
     line-height: 25px;
     color: #090808;
     display: block;
     font-weight: 500;
}

.why .why-box {
     text-align: center;
     background-color: transparent;
     border-radius: 20px;
     padding: 40px 20px 20px 20px;
     transition: ease-in all 0.5s;
     margin-bottom: 30px;
     box-shadow: #ddd 0px 0px 10px
}

.why .why-box p {
     font-size: 16px;
     line-height: 24px;
     color: #090808;
}

.why .why-box:hover {
     transition: ease-in all 0.1s;
     transform: scale(1.1);
}

.bg {
     font-size: 16px;
     background-color: #090808;
     color: #fff;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     display: flex;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
}

.bg:hover {
     background: #8308eb;
     color: #fff;
}


/** end why section **/


